*{
    margin: 0px;
    padding: 0px;
    background-color: #fdfbfb;
    
}
body{

    height: 100%;
    background-color: #e10b0b;
    font: normal 15pt  Arial;
}

header{
    color:white;
    text-align: center;

}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow:5px 5px 10px rgb(16, 133, 216) ;
}

footer{
    text-align: center;
    font-style: italic;
    color:white;
}


